.box1{   /*heading line*/
    position: absolute;
    height: 5px;
    width: 400px;
    margin-top: 85px;
    margin-left: -5px;
    background-color: #f58705;
}
.box2{
    position: absolute;
    height: 5px;
    width: 890px;
    margin-top: 85px;
    margin-left: 360px;
    background-color: #3496d8;
    }
    /*heading part*/
    h1{
        font-size:17px;
        color: rgb(7, 7, 85);
        font-family: 'Abril Fatface', cursive;
        position: absolute;
        margin-top: 10px;
        margin-left: 130px;
        
    }
   
   h2{
        font-size:17px;
        color: rgb(36, 36, 209);
        font-family: 'Abril Fatface', cursive;
        position: absolute;
        margin-top: 30px;
        margin-left: 300px;
       
    }
    h3{
       
      font-size: 20px;
        color: black;
        font-family: 'Dancing Script', cursive;
       
        position: absolute;
        margin-top: 30px;
        margin-left: 140px;
    }
    h4{
        position: absolute;
        margin-left: 360px;
        margin-top: 60px;
        color: black;
        font-size: 13px;
    }
    .boxs1{     /* click to visit member area*/
        position: absolute;
        height: 100px;
        width: 370px;
        margin-top: 327px;
        margin-left: 50px;
        border-top: 5px solid #3498db;
        border-bottom: 5px solid #5d1d87;
        background: url(http://makautexam.net/images/body_bg.gif);
    
    }
    .boxs2{
        position: absolute;
        height: 100px;
        width: 350px;
        margin-top: 327px;
        margin-left: 450px;
        border-top: 5px solid #3498db;
        border-bottom: 5px solid #5d1d87;
        background: url(http://makautexam.net/images/body_bg.gif);
    
    }
    .boxs3{
        position: absolute;
        height: 100px;
        width: 370px;
        margin-top: 327px;
        margin-left: 830px;
        border-top: 5px solid #3498db;
        border-bottom: 5px solid #5d1d87;
        background: url(http://makautexam.net/images/body_bg.gif);
    }
    .boxs4{  /* big background blue */
        position: absolute;
        height: 300px;
        width: 750px;
        margin-top: 460px;
        margin-left: 50px;
        box-shadow: -1px  3px 5px whitesmoke,
        -1px  3px 5px rgb(160, 144, 144);
       
       background:#c1d5dd;}
       .boxs5{
        position: absolute;
        height: 200px;
        width: 750px;
        margin-top: 780px;
        margin-left: 50px;
        box-shadow: -1px  3px 5px whitesmoke,
        -1px  3px 5px rgb(160, 144, 144);
       
       
       background:#c1d5dd;}
       .boxs6{
        position: absolute;
        height: 350px;
        width: 750px;
        margin-top: 1000px;
        margin-left: 50px;
       background:#c1d5dd;
       box-shadow: -1px  3px 5px whitesmoke,
       -1px  3px 5px rgb(160, 144, 144);
      }
      .boxs7{
        position: absolute;
        
        height: 820px;
        width: 370px;
        margin-top: 460px;
        margin-left: 830px;
       background:#c1d5dd;
       box-shadow: -1px  3px 5px whitesmoke,
       -1px  3px 5px rgb(160, 144, 144);
      }
    



    .boxs8{
        position: absolute;
        height: 35px;
        width: 1250px;
        margin-top: 1365px;
        margin-left: 0px;
       background:#0a91ab;;
       
      
    }
    .boxs9{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 525px;
        margin-left: 80px;
        border: 1px solid white;
        background-color: #0a91ab;
       
    }
    .boxs10{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 645px;
        margin-left: 320px;
        background-color: #5f60a2;
        border: 1px solid white;
       
    }
    .boxs11{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 645px;
        margin-left: 80px;
        background-color: #1bb3a5;
        border: 1px solid white;
       
    }
    .boxs12{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 525px;
        margin-left: 570px;
        background-color: #f58705;
        border: 1px solid white;
       
    }
    .boxs13{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 525px;
        margin-left: 320px;
        border: 1px solid white;
        background-color: #215583;
       
    }
    .boxs14{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 840px;
        margin-left: 80px;
        border: 1px solid white;
        background-color: #005259;
       
    }
    .boxs15{
        position: absolute;
        height: 120px;
        width: 200px;
        margin-top: 840px;
        margin-left: 320px;
        border: 1px solid white;
        background-color: #005259;
    }
    .boxs16{
        position: absolute;
        height: 120px;
        width: 200px;
        margin-top: 1060px;
        margin-left: 80px;
        border: 1px solid white;
        background-color: #5f60a2;
    }
    .boxs17{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 1060px;
        margin-left: 320px;
        border: 1px solid white;
        background-color: #5f60a2;
    }
    .boxs18{
        position: absolute;
        height: 100px;
        width: 200px;
        margin-top: 1060px;
        margin-left: 570px;
        border: 1px solid white;
        background-color: #5f60a2;
    }

    .boxup{
        position: absolute;
        height: 155px;
        width: 200px;
        margin-top: 1165px;
        margin-left: 570px;
        border: 1px solid white;
        background-color: #5f60a2;
    }
    .boxs19{
        position: absolute;
        height: 1px;
        width: 690px;
        margin-top: 510px;
        margin-left: 80px;
        background-color: #005259;
    }
    .boxs20{
        position: absolute;
        height: 1px;
        width: 690px;
        margin-top: 828px;
        margin-left: 80px;
        background-color: #005259;
    }
    .boxs21{
        position: absolute;
        height: 1px;
        width: 690px;
        margin-top: 1050px;
        margin-left: 80px;
        background-color: #005259;
    }
    
    li:hover{
       
        cursor:grab;
        
        color:blue;
       
    }
   
    
    
    .boxs22{  /*inside the boxes  */
        position: absolute;
        color: white;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        margin-top: 580px;
        margin-left: 90px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs22:hover{
        
    
    
    color:rgb(192, 192, 186) ;
    }
  
    
    
    
    .boxs23{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 580px;
        margin-left: 330px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs23:hover{
        color:rgb(192, 192, 186) ;
    }
    
    .boxs24{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 580px;
        margin-left: 580px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs24:hover{
        color:rgb(192, 192, 186) ;
    }
    .boxs25{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 705px;
        margin-left: 90px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs25:hover{
        color:rgb(192, 192, 186) ;
    }
   
    .boxs26{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 705px;
        margin-left: 330px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs26:hover{
        color:rgb(192, 192, 186) ;
    }
    .boxs27{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 900px;
        margin-left: 90px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs27:hover{
        color:rgb(192, 192, 186) ;
    }
    .boxs28{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 920px;
        margin-left: 330px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs28:hover{
        color:rgb(192, 192, 186) ;
    }
    .boxs29{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 1140px;
        margin-left: 90px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;
    }
    .boxs29:hover{
        color:rgb(192, 192, 186) ;
    }
    .boxs30{
        position: absolute;
        height: 30px;
        width: 180px;
        text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 1120px;
        margin-left: 330px;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.247) ;}
        .boxs30:hover{
            color:rgb(192, 192, 186) ;
        }
        .boxs31{
            position: absolute;
            height: 30px;
            width: 180px;
            text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
            margin-top: 1120px;
            margin-left: 580px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(0, 0, 0, 0.247) ;}
            .boxs31:hover{
                color:rgb(192, 192, 186) ;
            }

            .boxs32{
                position: absolute;
                height: 1px;
                width: 335px;
                text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
                margin-top: 510px;
                margin-left: 850px;
                background-color: #005259;
            }
            .boxs32:hover{
                color:rgb(192, 192, 186) ;
            }
        .boxs34{
            position: absolute;
            height: 50px;
            width: 50px;
            margin-top: 868px;
            margin-left: 450px;
            border-radius: 50px ;
            background-image: url(pc.gif);
            background-size: contain;
            background-repeat:no-repeat;
        }
        
       
        
        .line:hover{
            background-color: burlywood;
            color: cadetblue;
            cursor:grab;
        }
        .boxer{
            position: absolute;
            background-color:rgba(191, 221, 221, 0.137);
            height: 710px;
            width: 350px;
        
            overflow-y: scroll;
            margin-top: 530px;
            margin-left: 830px;
        }
        .boxer::-webkit-scrollbar{
            width: 8px;
        }
        .boxer::-webkit-scrollbar-track{
            background-color: aliceblue;
            border-radius: 10px;
        }
        .boxer::-webkit-scrollbar-thumb{
            background-color: rgb(168, 164, 164);
            border-radius: 10px;
        }
        .boxer::-webkit-scrollbar-thumb:hover{
            background-color: rgb(90, 96, 104);
        }
        .boxup2{
            position: absolute;
            height: 30px;
            width: 180px;
            text-align:center;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: white;
            margin-top: 1260px;
            margin-left: 580px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(0, 0, 0, 0.247) ;}
            .boxup2:hover{
                color:rgb(192, 192, 186) ;
            }
        
        
          
      


    p{
        position:absolute;
        font-size: 17px;
        margin-top: 1370px;
        margin-left: 600px;
        color: rgb(240, 235, 235);
    }
  
 
